{% assign feed_path = "/feed.xml" %}
{% if site.feed and site.feed.path %}
  {% assign feed_path = site.feed.path %}
{% endif %}

<ul style="columns: 2; list-style-type: none; margin-left: 0;">
<li><a href="/sponsors/">Sponsor</a></li>
<li><a href="/visa/">Visa Invitation Letters</a></li>
<li><a href="/travel-sponsorship/">Travel Sponsorship</a></li>
<li><a href="/register/">Register</a></li>
<li><a href="/schedule/">Schedule</a></li>
<li><a href="/social-events/">Social Events</a></li>
<li><a href="/location/">Location</a></li>
<li><a href="/media/">Media</a></li>
<li><a href="https://las2019.bcnfs.org/doku.php?id=wiki:tips">Tips & Tricks</a></li>
<li><a href="/coc/">Code of Conduct</a></li>
</ul>
