<footer class="site-footer las-banner" style="background-color: #121B86; color: white;">
  <div class="wrapper">
      {% include footer_content.html %}

    <div style="vertical-align: bottom;"><a href="https://twitter.com/LinuxAppSummit" title="@LinuxAppSummit"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#twitter' | relative_url }}"></use></svg></a><a href="https://t.me/joinchat/Dbb0PlJjx4tPFCSu2dd7PA" title="LAS 2019 - Attendees"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#telegram' | relative_url }}"></use></svg></a></div>
  </div>


  <div class="hosts">
    <h3>Co-Hosted By</h3>

    <a href="https://gnome.org"><img src="/assets/GnomeLogoVertical.png" alt="GNOME"/></a>
    <a href="https://kde.org"><img src="/assets/kde-logo-gray-transparent-source.svg" alt="KDE"/></a>
  </div>
</footer>
