---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: "Open Sans";
$monospace-font-family: Monaco, Menlo, Consolas, "Courier New", DotumChe, monospace;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #000;
$background-color: #fdfdfd;
$brand-color:      #2568ba;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    100%;

@import "minima";

.las-banner {
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    text-align: left;
    padding: 60pt 20%
}

.wrapper {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
}
.page-content {
    padding: 0
}

.site-header {
    background-color: #131b86;
    color: white;
    border-top: 0;
    border-bottom: 1px solid #51B1D5;
}

.site-footer {
    border-top: 1pt solid #51B1D5;
    display: flex;
    clear: both;
}
.site-footer .wrapper {
    margin-left: 0;
}
.site-footer a {
    color: white;
}
.site-footer.wrapper {
    float: left;
}
.hosts {
    float: right;
    text-align: right
}

.site-nav {
    font-size: 14pt;
    padding: 0.5cm 0.5cm;
    float: left;
}
.site-header .site-nav a {
    color: white;
}

.site-header {
    font-family: "Kanit";
}

.site-title, .site-title:visited {
    color: white;
    padding: 0.5cm 0.5cm;
    font-size: 36pt;
    font-weight: bolder
}

.site-footer img {
    height: 2.5cm;
    width: auto;
    filter: brightness(0%) invert(1);
    padding: 20px;
}

.sponsors {
    columns: 5;
    display: flex;
    align-items: center; /* For vertical align */
}

.sponsors > img {
    position: relative;
    max-width: 5cm;
    max-height: 1.8cm;
    margin-right: 2cm;
}

hr {
    background-color: #51B1D5;
    border: none;
    height: 2pt
}

h2 {
    font-weight: bolder;
    font-family: "Kanit";
    font-size: xx-large;
}

h3 {
    font-weight: bolder;
    font-family: "Kanit";
}

blockquote {
    margin-bottom: 2cm;
}

.button {
    font-family: "Kanit";
    background-color: #51B1D5;
    border: none;
    color: white;
    padding: 12pt 16pt;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16pt;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-top: 1cm;
}

.location {
    padding: 20pt 60pt;
    float: right
}

.sponsorlogo {
    float: right;
    width: 25%;
    margin-left: 1cm;
    margin-bottom: 2cm;
}

@media screen and (max-width: 600px) {
    .site-nav .menu-icon > svg {
        fill: white
    }
    .site-nav {
        background-color: #131b86
    }
}
