---
layout: bare
title: "Linux App Summit 2019"
permalink: /
---

<img src="assets/2019-LAS-hero.svg" style="margin: 0" />

<hr/>
<div class="las-banner" style="background-color: #121B86; color: white;">
    <h2>ABOUT</h2>
    <p>
        The Linux App Summit (LAS) is designed to accelerate the growth of the 
        Linux application ecosystem by bringing together everyone involved in 
        creating a great Linux application user experience.
    </p>

    <button class="button" onclick="window.location.href='/whatis'">Read More</button>
</div>

<hr/>
<div class="las-banner" style="background-color: #982c7e; color: white;">
    <h2>JOIN US</h2>
    <p>
        Everyone is welcome to attend LAS and attendance is free of charge. 
        For those who may need it, we have limited travel funds available.
    </p>

    <button class="button" onclick="window.location.href='https://linuxappsummit.org/register/'">Join Us!</button>
</div>

<hr/>

<div class="las-banner">
    <h2>LOCATION</h2>

    <p>Come join the fun in Barcelona, the beautiful capital of Catalonia, 
    in Spain!</p>

    <p>LAS 2019 will be held 
    at <a href="https://www.archdaily.com/889515/civic-centre-lleialtat-santsenca-1214-harquitectes">La Lleialtat Santsenca</a>, 
    a chic community center located in the Sants neighborhood. It is 
    conveniently located close to the 
    <a href="https://www.openstreetmap.org/way/264735742#map=19/41.37293/2.13680">main central station of Sants Estació in Barcelona</a>.</p>

    <p>This venue has 3 floors and is completely accessible through elevators. 
    The spaces include a main hall, and a few smaller meeting spaces. While there is 
    WiFi connectivity, there is also wired connectivity in most rooms. </p>
    
    <img src="images/barcelona6.jpg" alt="Gaudi building" style="width:100%">
    <p>
    Photo Credit: <a href="https://commons.wikimedia.org/wiki/File:Barcelona_Spain_-_panoramio.jpg">CC-BY-SA 3.0 GeoTravellers</a>
    </p>
    
</div>

<hr/>

<div class="las-banner" style="background-color: #982c7e; color: white;">
    <h2>SPONSOR</h2>
    <p>
        Sponsoring the Linux App Summit helps create a broader Linux application
        ecosystem that we can all benefit from. It takes leadership and
        organization to shepherd this growth into success. Your sponsorship
        helps fund a conference that is at the intersection of user-experience,
        software development, and hardware distribution.
    </p>
    <p>
        For more information on how to sponsor LAS 2019, don't hesitate to get in touch.
    </p>

    <button class="button button1" onclick="window.location.href='mailto:sponsors@linuxappsummit.org'">Contact</button>
</div>

<hr/>

<div class="las-banner" style="background-color: white;">
    <h2>SPONSORS</h2>
    <div class="sponsors">
        <img src="/assets/canonical.png" alt="Canonical" />
        &nbsp;
        <img src="/assets/opensuse.png" alt="openSUSE" />
        &nbsp;
        <img src="/assets/redhat.png" alt="Ret Hat" />
        &nbsp;
        <img src="/assets/codethink.svg" alt="Codethink" />
    </div>

    <button class="button button1" onclick="window.location.href='/sponsors'">See more</button>
</div>

<hr/>
